$white: #ffffff;
$red: #f34f59;
$pomegranate: #f5281e;
$pomegranateapprox: #f5281e;
$sundown: #FFB5B5;
$selective-yellow:#FFBB00;
$red_berry: #880000;
$black: #000000;
$mine-shaft: #3c3c3c;
$blue: #558fff;
$blue-ribbon: #0f5bf6;
$dodger-blue: #12a0f1;
$azure-radiance: #0090EB;
$mariner: #266dc7;
$dodger-blue: #4792fb;
$sliver: #adadad; 
$alto: #e0e0e0;
$alabaster: #f9f9f9;
$black-haze: #f8f9f9;
$dune: #333333;
$emperor: #555555;
$pippin: #ffe2e1;
$swirl: #ddd5cc;
$tusk: #f2f3c8;
$dustygray: #9b9b9b;
$clementine: #f46c00;
$gray: #888888;
$tundora: #4c4c4c;
$silver1: #cccccc;
$concretesolid: #f2f2f2;
$SilverChalice: #aaaaaa;
$dove-gray: #6A6A6A;
$varden: #fff7dc;
$west-side: #ff900b;
$scorpion: #5c5c5c;
$gallery : #eeeeee;
$gray: #888888;
$grayapprox: #919191;
$redapprox: #f00000;
$torch-red: #ff004a;
$bridesmaid: #feeeee;
$boulder: #777777;
$elf-green: #069;
$fair-pink: #ffeeee;
$satin_linen: #ECE8DF;
$mine-shaft: #3f3f3f;
$heavy-metal: #353635;
$nobel: #b5b5b5;
$ghost: #cbced9;
$mercury: #e9e9e9;
$brightblue: #06C;
$turbo: #EEEE00;
$olivine: #90B772;

$special: #60ba9a;
$la-palma: #339312;
$fcoin: #ffaf00;
$background: #f4f4f4;
$noimg: #eaeff0;
$promotion: #f56a01;
$turn-red: #ff0063;
$link: $blue;
$web_main: $mine-shaft;
$web_minor: $sliver;
$web_border: $alto;
$web_bg_hover: $alabaster;
$web_bg_hlight: $pippin;
$web_inputbox: $black-haze;
$bg_alert: $tusk;
$line: $alto;
